p {
    padding: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#welcome-message {
    position: relative;
    font-size: x-large;
    left: 10%;
}

#ls {
    list-style: none;
}

.header-container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure spacing for the header elements */
    padding: 20px;
    background-color: #245f9a;
    margin-bottom: 0px;
}

.header-container .logo {
    margin-right: 15px;
    width: 50px; /* Adjust width as needed */
    height: auto;
}
.header-container #current-time { /* Add this */
    font-size: 18px;
    color: #BBE9FF;
}
.header-container .site-name {
    font-size: 24px;
    color: #BBE9FF;
    margin: 0;
}

.navbar ul {
    float: left;
    list-style-type: none;
    background-color: #BBE9FF;
    width: 25vh;
    height: 100%;
    padding: 0%;
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: block;
}

.navbar a {
    font-size: large;
    text-decoration: none;
    color: #154870;
    display: block;
    padding: 15px;
    margin: 0;
    height: 8.2vh;
}
div.main {
    display: inline-block;
    font-size: x-large;
    backface-visibility: visible;
    padding: 1px;
    top: 0px;
    width: 30%;
    height: 510px;
    margin-bottom: 0vh;
    bottom: 10vh;
    left: 0vh;
    position: relative;
    /* border: 1px solid black; */
}

div.second {
    display: inline-block;
    font-size: x-large;
    backface-visibility: visible;
    padding: 1px;
    top: 0px;
    width: 30%;
    height: 510px;
    margin-bottom: 0vh;
    bottom: 10vh;
    left: 0vh;
    position: relative;
    /* border: 1px solid black; */
}

.navbar a:hover {
    color: #ffffff;
    background-color: rgb(0, 74, 101);
}

#current {
    background-color: rgb(5, 32, 34);
    color: white;
}

.pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.pet {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pet-image {
    max-width: 100%;
    border-radius: 10px;
}

.pet h3 {
    margin: 10px 0;
    color: #245f9a;
}

.pet p {
    margin: 5px 0;
}

.interested-button {
    background-color: #245f9a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.interested-button:hover {
    background-color: #154870;
}

.footer {
    clear: both;
    margin-top: 0px;
    height: 8vh;
    background-color: #245f9a;
    color: white;
    padding: 5vh;
    position: relative;
    width: 100%;
}

/* Media Query for Tablets */
@media screen and (max-width: 1024px) {
    .header-container {
        padding: 15px;
    }

    .header-container .site-name {
        font-size: 22px;
    }

    .navbar ul {
        width: 30vh;
    }

    .navbar a {
        font-size: medium;
        padding: 12px;
        height: auto;
    }

    .pet {
        width: 45%;
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .header-container .logo {
        margin-right: 0;
        width: 40px; /* Adjust width as needed */
    }

    .header-container .site-name {
        font-size: 20px;
        text-align: center;
    }

    .navbar ul {
        width: 100%;
        float: none;
    }

    .navbar a {
        font-size: medium;
        padding: 10px;
        height: auto;
    }

    .pet {
        width: 100%;
    }

    .footer {
        padding: 2vh;
        text-align: center;
    }
}
